* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: $font-body;
}
body {
	font-size: map-get($font-size, sm);
}
a {
	text-decoration: none;
	color: map-get($color, white);
	cursor: pointer;
}
li {
	display: inline;
}
h3 {
	font-size: map-get($font-size, normal);
}
p {
	font-size: map-get($font-size, xxs);
}
