$color: (
	white: #ffffff,
	black: #000000,
	red: #ca6a66,
	grey-a: #eceaea,
	grey-b: #96a1aa,
	grey-c: #b4b8bd,
);
$font-size: (
	xxxs: 1rem,
	xxs: 1.2rem,
	xs: 1.3rem,
	sm: 1.4rem,
	normal: 1.6rem,
	lg: 1.8rem,
	xl: 2.4rem,
	xxl: 3.2rem,
	xxxl: 7.2rem,
);
$font-weight: (
	regular: 300,
	medium: 400,
	bold: 700,
);
$breakpoints: (
	sm: 575.98px,
	md: 767.98px,
	lg: 991.98px,
	xl: 1199.98px,
	xxl: 1399.98px,
);
$font-body: "Segoe UI", "Roboto", "Oxygen";
